<p id="notice"><%= notice %></p>

<h1>
  <%= @dog.name %>
</h1>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dog.description %>
</p>

<div class="btn btn-primary text-white">
  <%= link_to 'Edit', edit_dog_path(@dog), :class => "btn text-white" %>
</div>
<div class="btn btn-primary text-white">
  <%= link_to 'Back', dogs_path, :class => "btn text-white" %>
</div>
